/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f5f5;
}


/* Main container */

.container {
    display: flex;
    width: 60%;
    height: 85vh;
    margin: 5vh auto;
}


/* Left Side */

.left-section {
    width: 45%;
    background: #0a74c9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-section img {
    width: 70%;
    max-width: 420px;
}


/* Right Side */

.right-section {
    width: 55%;
    background: #ffffff;
    padding: 60px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}


/* Logo Title */

.logo-area h2 {
    font-size: 32px;
    color: #0a74c9;
    margin-bottom: 20px;
}


/* Welcome text */

.right-section h1 {
    font-size: 28px;
    margin-bottom: 5px;
    color: #333;
}

.right-section p {
    margin-bottom: 20px;
    color: #555;
}


/* Inputs */


/* 
input,
select {
    width: 100%;
    padding: 14px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
} */

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 18px;
}

input:focus,
select:focus {
    outline: none;
    border-color: #0a74c9;
}


/* Options row */


/* .options {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 5px;
    font-size: 14px;
}

.options a {
    text-decoration: none;
    color: #0a74c9;
} */


/* Wrapper of the whole section */

.options {
    margin-top: 15px;
    margin-bottom: 15px;
}


/* “Login as” text */

.options-title {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
}


/* Horizontal role options */

.roles {
    display: flex;
    gap: 30px;
    /* cleaner spacing between User and Admin */
    align-items: center;
    margin-bottom: 15px;
    /* space below radio group */
}

.roles input[type="radio"] {
    accent-color: #0d6efd;
    transform: scale(1.3);
    /* smaller = better alignment */
    margin: 0;
    /* IMPORTANT: remove default offset */
}

.roles label {
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 8px;
    /* spacing between radio and text */
    cursor: pointer;
}


/* Button */

button {
    width: 100%;
    padding: 14px;
    background: #0a74c9;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #085da3;
}